<head>
</head>

<body>

<a href="{% url 'home' %}"><h5>Home</h5></a>
<a href="{% url 'menuitemslist' %}"><h5>Menu</h5></a>
<a href="{% url 'menuitemsmanagementlist' %}"><h5>Menu Items Management</h5></a>
<a href="{% url 'ingredientslist' %}"><h5>Ingredients</h5></a>
<a href="{% url 'reciperequirementslist' %}"><h5>Recipe Requirements</h5></a>
<a href="{% url 'purchaselist' %}"><h5>Orders</h5></a>
<a href="{% url 'restocklist' %}"><h5>Restock List</h5></a>

    {% block content %}
    {% endblock %}
</body>