{% extends "crispy_crab/base.html" %}

{% block content %}
<hr>
<h3>Menu Items</h3>
<hr>
<br>

<table border = 1 id="menu_items_table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Ingredients</th>
    <th>Price</th>
  </tr>

{% for menu_item in menuitems_list  %}
{% if menu_item.item_description != "recipe requirements not complete" and menu_item.is_available is True %}
<tr>
  <td>{{ menu_item.item_name }} </td>
  <td>{{ menu_item.item_description }} </td>
  <td>{{ menu_item.ingredients }} </td>
  <td>{{ menu_item.item_price }} </td>
</tr>
{% endif %}
{% endfor %}
</table>
{% endblock %}